/************* your name: Niko Dewit

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations.

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are encouraged to improve any provided CSS by using modern units and increasing responsive design functionality. However you are not supposed to rewrite the entire file.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/

/************* site defaults *************/
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
main {
  margin: 60px auto 0 auto;
}
/* TO DO: all elements with the .flex class applied are to be made into flex-box containers. */
.flex {
  display: flex;
}

/************* site-wide text styling *************/

/* TO DO:
    - first-level headings use clamp and have a desktop size 48px, centered vertically and horizontally in the available space.
    - 2nd-level headings have a desktop font size of 36px, and 12px of space below also clamped.
    - any element with the .large-text class has a font size of 24px.
    - any element with the .fake-button class will have a background colour of mustard yellow (see colour palette above), be center aligned, with a line-height of 3 and a solid black border that is 1px wide.
    - anchor tags should be clearly identifiable. use color and or underline with hover states to communicate interactivity.
    - anchor tag fake buttons should not have an underline in them
    - the hover-state of .fake-button and .blue-hover elements will:
        - add an underline,
        - set the background-colour to cornflower blue (see colour palette above),
        - change the text colour to white, and
        - change the cursor to pointer.
*/
h1 {
  font-size: clamp(24px, 5vw, 48px);
  align-self: center;
  text-align: center;
  width: 80%;
}
h2 {
  font-size: clamp(18px, 5vw, 36px);
  margin-bottom: clamp(6px, 5vw, 12px);
}
.large-text {
  font-size: 24px;
}
.fake-button {
  color: black;
  background-color: #e5af42;
  align-self: center;
  line-height: 3;
  border: 1px solid black;
}
a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}
a.fake-button {
  text-decoration: none;
}
.fake-button:hover,
.blue-hover:hover {
  background-color: #4278e5;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
/************* header/footer styling *************/

/* TO DO:
- the header and footer will be the same mustard-yellow as the buttons.
- the header has a max height of 150px.
- implement a responsive navbar in the header. The icon + title should be aligned to the left with responsive spacing
- create a navbar for the other pages that is right aligned. apply flexbox and make sure there is no overlap at a mobile screen width
- there will be 25px of space between the header and main, and 50px of space between main and footer.
- the footer should have a max height of about 60px, have a font-weight of 200, and the text within will be centered vertically and horizontally to the browser window.
*/
header,
footer {
  background-color: #e5af42;
}
header {
  max-height: 150px;
  margin-bottom: 25px;
}
header img {
  width: 100px;
  margin: 25px 0 25px 25px;
  justify-self: flex-start;
}
footer {
  padding: 20px;
  max-height: 60px;
  font-weight: 200;
  text-align: center;
  align-self: center;
  margin-top: 50px;
}
.top-nav ul {
  list-style-type: none;
  background-color: #e5af42;
  overflow: hidden;
}
.top-nav a {
  padding: 0 15px 10px 15px;
  display: block;
}
.top-nav li {
  float: left;
}
.top-nav a:hover {
  color: white;
}
/************* index page *************/

/* TO-DO:
    - this is a 2-column layout: text on the left, and an image on the right. The image should be have a responsive width using 300px as the approximate value. use flexbox, gap, margin, and padding to govern space around. Aim for 25-50px.
    - the h2 on this page will have a line-height equal to the font size.
    - each paragraph on this page will have 12px of space beneath it.
    - each fake-button on this page will have a responsive width of about 250px.  Use flexbox to manage  space between them.
    - the pair of fake-buttons will be centered on the page. HINT: can calculate the required margin to make them appear to be centered.
*/
img[src="images/dog-yellow-background.jpg"] {
  width: 25%;
  height: auto;
  padding: 35px;
  object-fit: contain;
}
.index {
  width: 70%;
  height: auto;
}
.fake-buttons {
  gap: 14vw;
  justify-content: center;
}
.index h2 {
  line-height: clamp(18px, 5vw, 36px);
}
.index p {
  margin-bottom: 12px;
}
.index .fake-button {
  width: 80%;
  max-width: 250px;
  min-width: 180px;
  text-align: center;
}

/************* bookings page *************/

/* TO-DO:
    - the contents of the booking-page will be 600px wide at a desktop screen size, and all content centered within the available space.
    - text will have a clamped size of around 18px for desktop.
    - there will be 12px of space below the day-selectors, and 20px of space between each list item. List items are 60px wide.
    - List items & the small-button elements will have a background blur or black border on hover to indicate clickability. Small-buttons will also have around 5px of space between the border and the content.
    - items tagged with .top-margin will have 24 px of space above, and 12px of space below.
    - the "clear days" button will responsive around 200px wide.
    - any element tagged with the .clicked class will turn mustard yellow. **This will be very important for your JavaScript.**
    - all items within the page will be centered within their available space.

    */
.booking-page {
  max-width: 600px;
  text-align: center;
  font-size: clamp(9px, 18px, 18px);
}
.booking-page li {
  width: 60px;
}
.small-button {
  padding: 5px;
}
.booking-page li,
.small-button {
  border: 1px solid black;
}
.booking-page li:hover,
.small-button:hover {
  filter: blur(1px);
}
.day-selector {
  justify-content: center;
  margin-bottom: 12px;
  gap: 20px;
}
.top-margin {
  margin-top: 24px;
  margin-bottom: 12px;
}
.clicked {
  background-color: #e5af42;
}
#clear-button {
  min-width: 200px;
  justify-self: center;
}
/************* contact page *************/
/* TO DO:
    - the main section of the .contact page will use viewport height units effectively, and be centered.
    - the contents will be 2 columns: the labels column is 150px wide and right-aligned, and the input column is 300px wide. There will be 24px of space between the columns, and the pair of columns will be centered on the page.
    - the textarea element will be 150px tall. use responsive units and layout values to optimize between mobile and desktop screen sizes
    - all form input, textarea, and and button elements will have the same font as the rest of the page, a line-height of 24px, a font-size of 16px, and the same border as other buttons on the site. There will be 24px of space below each of these elements.
    - the edges of the button will line up exactly with the text-area element. HINT: time for some math!
*/
.contact {
  height: 60vh;
  text-align: center;
  width: 100%;
}
.contact .flex {
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.contact label {
  text-align: right;
  width: 150px;
}
.contact input {
  width: 300px;
}
.contact textarea {
  min-height: 150px;
  min-width: 300px;
}
.contact button {
  border: 1px solid black;
  position: relative;
  left: 87px;
  width: 306px;
  height: 3rem;
}
.contact input,
.contact textarea,
.contact button {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 24px;
}
